@if (countries().length == 0) {
  <div class="alert">
    No hay paises que mostrar
  </div>
} @else {
  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Icon</th>
      <th>Bandera</th>
      <th>Nombre</th>
      <th>Capital</th>
      <th>Población</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let country of countries(); let i=index">
      <td>{{ i + 1 }}</td>
      <td>{{ country.flag }}</td>
      <td>
        <img [src]="country.flags.svg" [alt]="'flag'+country.idd" width="35">
      </td>
      <td>{{ country.name.common }}</td>
      <td>{{ country.capital }}</td>
      <td>{{ country.population | number }}</td>
      <td><a [routerLink]="['/countries/by', country.cca3]">Ver mas</a></td>
    </tr>
    </tbody>
  </table>
}
